{% extends 'base.html.twig' %}

{% block body %}
    <h1>Войти на сайт</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Войти" />
    {{ form_end(form) }}
    <h4>Авторизоваться через социальные сети</h4>
    <script src="//ulogin.ru/js/ulogin.js"></script>
    <div id="uLogin" data-ulogin="display=panel;theme=classic;fields=first_name,last_name;providers=vkontakte,odnoklassniki,mailru,facebook;hidden=other;redirect_uri=http%3A%2F%2Flocalhost%3A8080%2Fsocial-authenticate-back ;mobilebuttons=0;"></div>

{% endblock %}

{% block title %}

{% endblock %}


